.filterPanel {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  width: 100%;
  gap: 1em;
  padding-bottom: 1em;
  border-radius: 1em;
  z-index: 20;
}

.customInput, .customSelect {
  background-color: #f2f2f2;
  border: 2px solid #e8f5e9;
  border-radius: 1em;
  padding: 1em;
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: #f2f2f2;
    border-color: #c8e6c9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.customInput{
  max-width: 20em;
  width: 100%;
}

.customSelect{
  position: absolute;
  right: 0;
  max-width: 10em;
}

.customInput span, .customSelect span {
  pointer-events: none;
}

.button {
  padding: 1em 2em;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: relative;

  &:hover {
    background-color: darken(#66bb6a, 7%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  span {
    transition: all .2s ease-in-out;
  }
}

