.app {
  padding: 1em 1.5em;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.backButton {
  display: inline-block;
  align-self: center;
  background-color: #81c784;
  color: white;
  cursor: pointer;
  padding: .5em 1em;
  margin-bottom: 1em;
  border-radius: .7em;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #66bb6a;
  }
}
